html {
    height: 100%;
}    

body {
    background-image: linear-gradient(rgba(54,229,255),rgba(10,136,134));
    /*background-size: cover;
    background-position: 50% 30%; */
    background-repeat: no-repeat;
}


.card-body {
/*     background-color: peach; */
}

.card {
    background-color: rgba(242, 247, 230, 0.7);
    border-radius: 15px 50px;
}

svg path, svg polygon  {
    fill: black;
    
}
svg:hover path, svg:hover polygon {
    background-color: (121,121,121, 1);
   transition-delay: 200ms;
    fill: grey;
}   

h2 {
    font: Helvetica;
    font-kerning: normal;
    font-weight: bold;
    letter-spacing: 3px;
}

.imgcontainer:hover {
    opacity: 0.8;
}
.prf-img-fluid {
    max-width: 60%;
    height: auto;
    
}
.smaller-svg {
    height: 55%;
}
